@import '~bootstrap/dist/css/bootstrap.min.css';

  
.login-card {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #326477; /* Substitua pela cor desejada */
}
  
.input-background {
    background-color: #1e4c5e; /* Define a cor de fundo para os campos de entrada */
    padding: 10px;
    border-radius: 5px;
}