<div class="container featured-container">
    <h2>Lista de Daily Gainers</h2>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Daily Gainers</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Bitcoin: $60,000</li>
                    <li class="list-group-item">Ethereum: $2,500</li>
                    <li class="list-group-item">Binance Coin: $400</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Repita a estrutura do card para mais dois cards -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Daily Gainers</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Crypto 1: $100</li>
                    <li class="list-group-item">Crypto 2: $200</li>
                    <li class="list-group-item">Crypto 3: $300</li>
                </ul>
            </div>
        </div>

        <div class="col-md-4">
            <!-- Repita a estrutura do card para mais dois cards -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Daily Gainers</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Altcoin 1: $50</li>
                    <li class="list-group-item">Altcoin 2: $75</li>
                    <li class="list-group-item">Altcoin 3: $120</li>
                </ul>
            </div>
        </div>
    </div>
</div>