<mat-card class="registration-card">
  <mat-card-header>
    <mat-card-title>Registro</mat-card-title>
  </mat-card-header>
  <mat-card-content class="registration-content">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>username</mat-label>
        <input matInput type="text" name="username" [(ngModel)]="user.username" required><br>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>first name</mat-label>
        <input matInput type="text" name="firstName" [(ngModel)]="user.firstName" required><br>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>last name</mat-label>
        <input matInput type="text" name="lastName" [(ngModel)]="user.lastName" required><br>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="user.email" required><br>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="user.password" required><br>
      </mat-form-field>
      <button mat-raised-button color="primary" class="full-width" type="submit" (click)="onSubmit()">Registrar</button>
    </form>
  </mat-card-content>
</mat-card>
