.registration-card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .full-width {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .registration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  mat-form-field {
    margin-bottom: 16px;
  }
  